#qsearch__in {
	background: #332518;
	border: none;
	font: italic 110% Georgia, "Times New Roman", Times, serif;
	color: #ada8a3;
	width: 168px;
	padding: 2px 5px;
	margin-left: 30px;
}

#dw__search {
	position: absolute;
	bottom: 57px;
	right: 25px;
	background: url('images/searchform.png') no-repeat;
	width: 222px;
	height: 26px;
	padding: 5px 0 3px;
}

.notify { 
	width: 90% !important; margin: 1em auto !important; 
	background-color: orange !important;
}

#dw__search button { display: none; }

h1, h2, h3, h4, h5, h6 {
	/*font: bold 1.9em/1em Arial,Helvetica,sans-serif;*/
	letter-spacing: -0.05em;
	margin: 0 0 10px;
	text-shadow: 0 1px 4px #dfdfbb;
	color: #644527;
}

#dw__toc ul li { background-image: none; }
#writtensidebar a { background-image: none; padding: 0px; }
.btn_secedit { float: right; }
#sidebar ul li { display: table; }

#writtensidebar { width: 100%; }
#writtensidebar h1 {
	font: bold 1.5em/1em Arial, Helvetica, sans-serif;
	background: url('images/sidebar-dots.png') repeat-x 0 bottom;
	padding: 0 0 10px;
	margin: 0 0 10px;
	text-shadow: 0px 1px 4px #dfdfbb;
	display: block;
}

.breadcrumbs { margin: 1em 0px; }

#mediamanager__page .file { width: 100%; clear: both; }
button { margin: 3px 8px; }